.flex{
  display: flex;
  background-color: #01013a;
  color: aliceblue;
  
}
.space{
  margin-left: 20%;
}

a{
  color:rgb(133, 125, 125) ;
  text-decoration: none;
}
a:hover{
  color:aquamarine;
  text-decoration: underline;
}