nav {
  background-color: #071b43
;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  align-items: center;
}nav a {
  color: white;
  text-decoration: none;
  align-items: center;
}nav ul {
  display: flex;
  gap: 2rem;
}